.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 60%;
}

.form-container {
    display: flex;
    justify-content: flex-start;

    width: 60%;
    margin-bottom: 2rem;
}

.form {
    font-family: var(--font-family);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 400px;
}

.guess-submit {
    height: 30px;

    font-family: var(--font-family);
    padding: 0 1rem;
}
