@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

:root {
    --font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background: #00ee88;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1rem;
    width: 70%;

    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    flex: 1;

    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 800;
}

.header {
    font-family: var(--font-family);
    font-weight: 200;

    padding: 2rem;
}

.heading {
    margin-bottom: 1rem;
}

.heading h1 {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
}

@media screen and (max-width: 600px) {
    ul {
        width: 100%;
        padding: 0.5rem 0;
    }

    a {
        font-size: 24px;
    }
}
